NASA_API_KEY=nasa_key
DB_HOST=localhost
DB_PORT=5432
DB_NAME=nasa_asteroids
DB_USER=postgres
DB_PASSWORD=password
GROQ_API_KEY=groq_key
DB_HOST:host
DB_PASSWORD:password
DB_NAME:dbname
DB_PORT:port
DB_USER:user